
.about {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    width: 15%;   
    float: left;
    border-right: 1px solid rgb(255, 255, 255);
}

.about a{
   color: rgb(87, 86, 86);
}

.about a img{
   width: 50px;
   height: 50px;
   position: relative;
   margin-right: 15px;
   filter: grayscale(1);
 }
 

.about a:hover{
    color: rgb(44, 218, 0);
 }
.about a:active{
    color: white;
 }

.tab-content{
    float: left; width: 40%;
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}

.nav>a.active {
  background-color: #000000 !important;
  border-bottom: 1px solid #ffffff; 
}

.nav>a.active img{
    filter: none;
  }

  @media screen and (max-width: 400px){
  .about {
      width: 30%;
      font-size: 13px;
      margin-left: 5%;
  }
  .about a img{
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 5px;
    filter: grayscale(1);
  }
  
}


  
  /* @media screen and (max-width:400px) {
    .about {
        width: 10%;
        font-size: 12px;
        margin-left: 5%;
    }
  } */