@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/roboto.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/roboto.woff") format("woff");
}

/* Теперь можно использовать шрифт */
body {
  font-family: "Roboto", "Arial", sans-serif;
}

.filter {
  margin-top: 0px;
  width: 60%;
  margin-left: 30%;;
}

.flex-column{
  float: left;
  width: 10%;
  margin-top: 5%;
  position: absolute;
  margin-left: 10%;
}
.filterDiv {
float: left;
color: #ffffff;
width: 270px;
line-height: 300px;
text-align: center;
display: none;
}

.show {
display: block;
}

.btn {
border: none;
outline: none;
cursor: pointer;
}

.details{
  width: 100%;
  margin-left: 50px;
  position: relative;
  float: left;
  top: 0;
  transform: rotate(-15deg) translate(0, 0);
  transition-property: transform;
  transition-duration: .7s;
}
 a .nav-link {
  font-family: "Oswald", sans-serif;
 }
.card_btn {
  outline: none;
  padding: 10px 16px;
  background-color: #000000;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid #2a2a2a;
  width: 150px;
  text-align: left;
  font-family: "Oswald", sans-serif;
}

.active, .card_btn:hover {
  background-color: #75bf42;
  color: white;
  border-bottom: 1px solid #2a2a2a;
}

.perevorot:hover .details{ 
  transform: rotate(0deg) translate(0%, 15%) scale(1.3);
  width: 180%;
  z-index: 1;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.767)
}

 .perevorot:hover{ 
  background-color: rgba(0, 0, 0, 0.767)
}

.perevorot:hover {
  background-color: none;
}
.card_text{
  position: relative;
  height: 10px;

}
.card_text h1 {
  height: 10px;
  position: absolute;
}
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
  height: 300px;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
  
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	position: relative;
}

	.vertical .back {
		transform: rotateX(180deg);
	}

	.vertical.flip-container:hover .back {
	    transform: rotateX(0deg);
	}

	.vertical.flip-container:hover .front {
	    transform: rotateX(180deg);
	}


/* .details:hover{
  height: 100%;
  width: 100%;
} */

.club_price {
  font-size: 15px;
  height: 30px;
  width: 90px;
  margin-top: 260px;
  margin-left: 110px;
  position: absolute;
  border: 1px solid white; 
  padding: 5px;
  color: white;
}

.club_day {
  color: white;
  font-size: 15px;
  height: 40px;
  width: 150px;
  margin-top: 260px;
  margin-left: 200px;
  position: absolute;
}


.club_day img {
  height: 30px;
  width: 30px;
}

/* xs (<=543px) */
@media screen and (min-width: 575px) { 
  
.filter {
  margin-top: 0px;
  width: 80%;
  margin-left: 300px;
}

.flex-column{
  float: left;
  width: 10%;
  margin-top: 5%;
  position: fixed;
  margin-left: 10%;
}
.filterDiv {
float: left;
color: #ffffff;
width: 270px;
line-height: 300px;
text-align: center;
display: none;
}

.show {
display: block;
}

.btn {
border: none;
outline: none;
cursor: pointer;
}

.details{
  width: 100%;
  margin-left: 50px;
  position: relative;
  float: left;
  top: 0;
  transform: rotate(-15deg) translate(0, 0);
  transition-property: transform;
  transition-duration: .7s;
}

.card_btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #000000;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid #2a2a2a;
  width: 150px;
  text-align: left;
  font-family: "Oswald", sans-serif;
}

.active, .card_btn:hover {
  background-color: #75bf42;
  color: white;
  border: 1px solid #75bf42; 
}

.card_text{
  position: relative;
  height: 10px;

}
.card_text h1 {
  height: 10px;
  position: absolute;
}

.club_price {
  font-size: 15px;
  height: 30px;
  width: 90px;
  margin-top: 260px;
  margin-left: 110px;
  position: absolute;
  border: 1px solid white; 
  padding: 5px;
  color: white;
}

.club_day {
  color: white;
  font-size: 15px;
  height: 40px;
  width: 150px;
  margin-top: 260px;
  margin-left: 200px;
  position: absolute;
}

.club_day img {
  height: 30px;
  width: 30px;
}

 }

/* sm (>=576 и <=767) */
@media (min-width: 576px) and (max-width: 767px) { 
  .filter {
    margin-top: 0px;
    width: 50%;
    margin-left: 200px;
  }
  
  .flex-column{
    float: left;
    width: 10%;
    margin-top: 5%;
    position: absolute;
    margin-left: 10%;
  }
  .filterDiv {
  float: left;
  color: #ffffff;
  width: 270px;
  line-height: 300px;
  text-align: center;
  display: none;
  }
  
  .show {
  display: block;
  }
  
  .btn {
  border: none;
  outline: none;
  cursor: pointer;
  }
  
  .details{
    width: 100%;
    margin-left: 50px;
    position: relative;
    float: left;

    top: 0;
    transform: rotate(-15deg) translate(0, 0);
    transition-property: transform;
    transition-duration: .7s;
  }
  
  .card_btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #000000;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid #2a2a2a;
    width: 150px;
    text-align: left;
    font-family: "Oswald", sans-serif;
  }
  

  .card_text{
    position: relative;
    height: 10px;
  
  }
  .card_text h1 {
    height: 10px;
    position: absolute;
  }

  .details:hover{
    height: 100%;
    width: 100%;
  }
  
  .club_price {
    font-size: 15px;
    height: 30px;
    width: 90px;
    margin-top: 260px;
    margin-left: 110px;
    position: absolute;
    border: 1px solid white; 
    padding: 5px;
    color: white;
  }
  
  .club_day {
    color: white;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 260px;
    margin-left: 200px;
    position: absolute;
  }
  
  
  .club_day img {
    height: 30px;
    width: 30px;
  }
  }

/* md (>=768 и <=991) */
/* @media (min-width: 768px) and (max-width: 991px) { ... }  */

/* lg (>=992 и <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {   
  .filter {
  margin-top: 0px;
  width: 70%;
  margin-left: 20%;
}

.flex-column{
  float: left;
  width: 10%;
  margin-top: 5%;
  position: absolute;
  margin-left: 5%;
}
.filterDiv {
float: left;
color: #ffffff;
width: 270px;
line-height: 300px;
text-align: center;
display: none;
}

.show {
display: block;
}

.btn {
border: none;
outline: none;
cursor: pointer;
}


.card_btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #000000;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid #2a2a2a;
  width: 150px;
  text-align: left;
  font-family: "Oswald", sans-serif;
}



.card_text{
  position: relative;
  height: 10px;

}
.card_text h1 {
  height: 10px;
  position: absolute;
}

.details:hover{
  height: 100%;
  width: 100%;
}

.club_price {
  font-size: 15px;
  height: 30px;
  width: 90px;
  margin-top: 260px;
  margin-left: 110px;
  position: absolute;
  border: 1px solid white; 
  padding: 5px;
  color: white;
}

.club_day {
  color: white;
  font-size: 15px;
  height: 40px;
  width: 150px;
  margin-top: 260px;
  margin-left: 200px;
  position: absolute;
}


.club_day img {
  height: 30px;
  width: 30px;
} }

@media (min-width: 1200px) { 

  .filter {
    margin-top: 0px;
    width: 70%;
    margin-left: 30%;
  }
  
  .flex-column{
    float: left;
    width: 10%;
    margin-top: 5%;
    position: absolute;
    margin-left: 10%;
  }
  .filterDiv {
  float: left;
  color: #ffffff;
  width: 270px;
  line-height: 300px;
  text-align: center;
  display: none;
  }
  
  .show {
  display: block;
  }
  
  .btn {
  border: none;
  outline: none;
  cursor: pointer;
  }
  
  .details{
    width: 100%;
    margin-left: 50px;
    position: relative;
    float: left;

    top: 0;
    transform: rotate(-15deg) translate(0, 0);
    transition-property: transform;
    transition-duration: .7s;
  }
  
  .card_btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #000000;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid #2a2a2a;
    width: 150px;
    text-align: left;
    font-family: "Oswald", sans-serif;
  }
  
  .active, .card_btn:hover {
    background-color: #75bf42;
    color: white;
    border: 1px solid #75bf42; 
  }
  
  .card_text{
    position: relative;
    height: 10px;
  
  }
  .card_text h1 {
    height: 10px;
    position: absolute;
  }
  .details:hover{
    height: 100%;
    width: 100%;
  }
  
  .club_price {
    font-size: 15px;
    height: 30px;
    width: 90px;
    margin-top: 260px;
    margin-left: 110px;
    position: absolute;
    border: 1px solid white; 
    padding: 5px;
    color: white;
  }
  
  .club_day {
    color: white;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 260px;
    margin-left: 200px;
    position: absolute;
  }
  
  .club_day img {
    height: 30px;
    width: 30px;
  }
}


 @media (min-width: 2000px) { 

  .filter {
    margin-top: 0px;
    width: 60%;
    margin-left: 30%;
  }
  
  .flex-column{
    float: left;
    width: 10%;
    margin-top: 5%;
    position: absolute;
    margin-left: 10%;
  }
  .filterDiv {
  float: left;
  color: #ffffff;
  width: 270px;
  line-height: 300px;
  text-align: center;
  display: none;
  }
  
  .show {
  display: block;
  }
  
  .btn {
  border: none;
  outline: none;
  cursor: pointer;
  }

  .details{
    width: 100%;
    margin-left: 50px;
    position: relative;
    float: left;

    top: 0;
    transform: rotate(-15deg) translate(0, 0);
    transition-property: transform;
    transition-duration: .7s;
  }
  
  .card_btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #000000;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid #2a2a2a;
    width: 150px;
    text-align: left;
    font-family: "Oswald", sans-serif;
  }
  
  .card_text{
    position: relative;
    height: 10px;
  
  }
  .card_text h1 {
    height: 10px;
    position: absolute;
  }
  .details:hover{
    height: 100%;
    width: 100%;
  }
  
  .club_price {
    font-size: 15px;
    height: 30px;
    width: 90px;
    margin-top: 260px;
    margin-left: 110px;
    position: absolute;
    border: 1px solid white; 
    padding: 5px;
    color: white;
  }
  
  .club_day {
    color: white;
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-top: 260px;
    margin-left: 200px;
    position: absolute;
  }
  
  
  .club_day img {
    height: 30px;
    width: 30px;
  }
} 
